body {
    font-family: Arial, serif;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    font-size: 105%;
}


.code-block {
    display: block;
    padding: 10px;
    margin: 10px 0;
}

.cols {
    display: flex;
    flex-direction: row;
    gap: 10px;
}